.landing{
  padding-top: 7rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  @media (min-width: 67.5rem){
    font-size: clamp(0.69em, 0.8vw + 0.05em, 1em);
    flex-direction: row;
    align-items: inherit;
    gap: 3.5em;
  }
  & .landing-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5em;
    z-index: 80;
    @media (min-width: 67.5rem) {
      align-items: inherit;
      text-align: inherit;
      gap: 0;
      height: 37.5em;
    }
    & .landing-heading {
      flex-direction: column;
      gap: 1.5em;
      & > * {
        display: block;
      }
      @media (min-width: 67.5rem) {
        & .secondary:first-child {
          font-size: max(1rem, 1.125em);
        }
      }
      & .landing-title {
        margin-top: calc(-5% + 0.1rem);
        @media (min-width: 67.5rem) {
          font-size: 12.5em;
        }
      }
    }
    & p {
      margin: 0 auto 1.25em;
      max-width: 18.0625em;
      @media (min-width: 67.5rem) {
        font-size: max(1rem, 1.125em);
        max-width: 28.5em;
        margin: 0.5em 0 1em;
      }
    }
    & .landing-cta {
      width: 18.9375em;
      height: 4em;
      gap: 0.75em;
      margin: auto;
      border-radius: 1.5rem;
      & span {
        font-size: 1em;
      }
      & .cta-arrow {
        width: 0.75em;
        @media (min-width: 67.5rem) {
          width: max(0.75rem, 1em);
        }
      }
      @media (min-width: 67.5rem) {
        width: max(18.9375rem, 19.9em);
        height: max(4rem, 5em);
        gap: max(0.75rem, 1.5em);
        margin: auto 0%;
        & span {
          font-size: max(1rem, 1.125em);
        }
      }
    }
  }
  & .landing-illustration {
    position: relative;
    height: 30em;
    width: 24.17em;
    & span {
      overflow: visible !important; /* overwrites next/image component styles for this case */
    }
    & img {
      top: 20em !important;
      transform: scale(1.6);
      transform-origin: bottom;
      objet-fit: cover !important;
    }
    @media (min-width: 67.5rem) {
      width: inherit;
      height: 37.5em; /* this line scales the entire container dynamically */
      aspect-ratio: 722 / 600;
      background: var(--clr-section-bg);
      border-radius: 6.5em; /* mantain the border radius while scaling */
      box-shadow: 0px 0.25em 1em rgba(0, 0, 0, 0.12);
      & span {
        overflow: visible !important; /* overwrites next/image component styles for this case */
      }
      & img {
        top: 0 !important;
        transform: scale(1.42);
        transform-origin: bottom;
        objet-fit: scale-down !important;
      }
    }
  }
}