.walkthrough {
  position: relative;
  top: -4.5rem;
  padding-bottom: 2em;
  @media (min-width: 48rem) {
    top: -7em;
  }
  @media (min-width: 78.75rem) {
    top: 1.5em;
    font-size: clamp(0.7em, 0.8vw + 0.08em,1em);
  }
  & .container {
    justify-content: center;
  }
  & .walkthrough-cards {
    gap: 1.5rem;
    max-width: 29rem;
    padding-top: 0.5em;
    flex-direction: column;
    overflow: inherit;
    @media (min-width: 48rem) {
      gap: 0.5rem;
      flex-direction: row;
      max-width: var(--page-width);
      font-size: clamp(0.7em, 1.2vw + 0.25em, 1em);
    }
  }
  & .walkthrough-bg {
    background: var(--clr-section-bg);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -23.9em;
    bottom: 0;
    @media (min-width: 48rem) {
      top: -7.5rem;
    }
    @media (min-width: 78.75rem) {
      height: 33em;
      top: calc(50% - 14.2em);
    }
  }
  & .walkthrough-mask {
    display: none;
    @media (min-width: 78.75rem){
      display: block;
      position: absolute;
      height: 30em;
      background-color: var(--clr-neutrals-0);
      left: 0;
      right: 0;
      bottom: -26.3em;
      z-index: -2;
    }
  }
}

.intro-card-wrapper {
  height: calc(30em + 4vw);
  padding: 0.75rem;
  position: relative;
  
  
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid var(--clr-neutrals-300);
  
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;

  @media (min-width: 48rem) {
    height: 29.8125em;
  }
  
  @media (min-width: 78.75rem) {
    z-index: 20;
    min-width: 33.25em;
    height: 42.25em;
    
    &:first-child {
      transform: translate(calc(5em + 0.5rem), 2em) rotate(-3deg);
      z-index: 10;
    }
    &:last-child {
      transform: translate(calc(-5em - 0.5rem), 2em) rotate(3deg);
    }
  }
  & .intro-card {
    flex-direction: column-reverse; /* this way manage better content size and image overflow */
    overflow: hidden;
    border: 1px solid #DAE4F2;
    border-radius: 1.5rem;
    height: 100% ;
    @media (min-width: 78.75rem) {
      width: 100%;
    }
    & .intro-card-image-holder {
      position: relative;
      background: linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%);
      height: 100%;
      overflow: hidden;
      & span {
        bottom: -2px !important;
        & img {
          &.table {
            inset: auto !important;
            height: 100% !important;
            min-height: unset !important;
            max-height: unset !important;
            bottom: 0px !important;
            @media (min-width: 48rem) {
              height: 15.5em !important;
            }
            @media (min-width: 78.75rem) {
              height: 30em !important;
            }          
          }
        }
      }
    }
    & .intro-card-content {
      position: relative;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1em 1.5em 1.5em;
      gap: 1em;
    
      background: var(--clr-neutrals-0);
      /* Neutrals/300 */
  
      border-top: 1px solid var(--clr-neutrals-300);

      & .intro-card-head {
        gap: 1em;
        align-items: center;
        & h3 {
          white-space: nowrap;
        }
        & .intro-card-icon-box {
          background: var(--clr-brand-light);
          border-radius: 0.5rem;
          padding: 0.25rem;
          max-width: 2.5rem;
        }
        @media (min-width: 78.75rem) {
          & h3 {
            white-space: normal;
            font-size: max(1.5rem, 2em);
          }
          & .intro-card-icon-box {
            padding: max(0.25rem, 0.375em);
            height: max(2.5rem, 3em);
            width: max(2.5rem, 3em);
            text-align: center;
            align-items: center;
            max-width: 100%;
            & .icon-lg {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }
      }
  
      & .intro-card-text {
        max-width: 24.5em;
        & p {
          @media (min-width: 78.75rem) {
            font-size: max(1rem, 1.125em);
          }
        }
      }
    }
  }

}