.footer {
  justify-content: center;
  align-items: center;
  height: 7.5em;
  @media (min-width: 78.75rem) {
    height: clamp(6em, 7vw + 4em ,12.5em);
  }
  & .github-link {
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    & svg path {
      fill: var(--clr-neutrals-600);
    }
    & .text-lg {
      font-size: 1.125rem;
    }
    @media (hover: hover) {
      &:hover {
        & svg path {
          fill: url(#paint0_linear_497_3780);
        }
        & .secondary {
          background-image: var(--clr-brand-default);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
    @media (hover: none) {
      &:active {
        & svg path {
          fill: url(#paint0_linear_497_3780);
        }
        & .secondary {
          background-image: var(--clr-brand-default);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
    }
  }
}