.scrollup {
  position: sticky;
  margin-left: auto;
  bottom: 3em;
  right: 1.25em;
  height: 0;
  width: 4em;
  transition: opacity 0.3s;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @media (min-width: 48rem) {
    position: fixed;
    bottom: 2.5em;
    right: 2.5em;
  }
  @media (min-width: 78.75rem) {
    bottom: 4.75em;
    right: 4.75em;
  }

  & .scrollup-button {
    position: absolute;
    bottom: 0;
    background-image: var(--clr-section-bg);
    height: 4em;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    cursor: pointer;
    mix-blend-mode: exclusion;
    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0.125em 0.75em rgba(0, 0, 0, 0.1);
      }
    }

    & .scrollup-icon {
      transform: rotate(0.75turn);
    }
  }
}