.waves-bg {
  z-index: -10;
  background-image: url('../../../public/waves-bg.svg');
  background-size: 136.5em 83.375em;
  width: 100vw;
  height: 83.375em;
  overflow: auto;
  position: absolute;
  top: clamp( 8.6em, 6vw + 6em, 12em);
}