.waves-bg {
  z-index: -10;
  height: 87.7em;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100vw;
  top: clamp(8.8em, 6.5vw + 6em, 12em);
  margin-top: -1em;
  & svg {
    width: max(136.5em, 100vw);
    height: 1.75em;
    overflow: visible;
    & path {
      stroke: var(--clr-neutrals-100);
    }
  }
}