.product-card-wrapper {
  flex-direction: column-reverse;
  gap: 1em;

  & .product-card {
    flex-direction: column-reverse;
    height: 100%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.08));

    & .product-image-holder {
      border: 1px solid var(--clr-neutrals-300);
      height: 100%;
      border-radius: 1em 1em 0 0;
    }

    & .product-card-header {
      border: 1px solid var(--clr-neutrals-300);
      border-top: none;
      padding: 1em 1.5em 1.5em;
      border-radius: 0 0 1em 1em;
    }
      
  }
}