.products-section {
  padding-top: 1em;

  & .products-section-controls {
    margin: 2.5em 0 4em;
    flex-direction: column;
    gap: 1.5em;

    @media (min-width: 78.75rem) {
      gap: 0;
      font-size: clamp(.82em, .8vw + .1em, 1em);
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  & .products-section-footer {
    flex-direction: row-reverse;

  }
}