.intro-card-wrapper {
  height: calc(30em + 4vw);
  padding: .75em;
  position: relative;
  bottom: 0;
  
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid var(--clr-neutrals-300);
  
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;

  transition: bottom .3s, box-shadow .1s;

  @media (min-width: 48rem) {
    height: 29.8125em;
  }
  
  @media (min-width: 78.75rem) {
    background: var(--clr-neutrals-0);

    z-index: 20;
    min-width: 33.25em;
    height: 42.25em;
    
    &:first-child {
      transform: translate(calc(5em + .5rem), 2em) rotate(-3deg);
      z-index: 10;
    }
    &:last-child {
      transform: translate(calc(-5em - .5rem), 2em) rotate(3deg);
    }


    &:hover {
      box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.12);
/*       bottom: 2.5em;
      &:nth-child(2) {
        bottom: 1.5em;
      } */
    }
  }
  & .intro-card {
    flex-direction: column-reverse; /* this way manage better content size and image overflow */
    overflow: hidden;
    height: 100% ;
    @media (min-width: 78.75rem) {
      width: 100%;
    }
    & .intro-card-image-holder {
      background: linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%);
      border: 1px solid var(--clr-neutrals-300);
      border-bottom: 0;
      border-radius: 1.5rem 1.5rem 0 0;

      position: relative;
      height: 100%;
      overflow: hidden;
      & span {
        bottom: -2px !important;
        & img {
          pointer-events: none;
          top: -1em !important;
          @media (min-width: 48rem) {
            top: 0em !important;
          }
          &.table {
            inset: auto !important;
            height: 100% !important;
            min-height: unset !important;
            max-height: unset !important;
            bottom: 0px !important;
            @media (min-width: 48rem) {
              height: calc(80% + 2em) !important;
            }
            @media (min-width: 78.75rem) {
              height: 30em !important;
            }          
          }
        }
      }
    }
    & .intro-card-content {
      position: relative;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1em 1.5em 1.5em;
      gap: 1em;
    
      background: var(--clr-neutrals-0);
      /* Neutrals/300 */

      border-radius: 0 0 1.5rem 1.5rem;
      border: 1px solid var(--clr-neutrals-300);

      & .intro-card-head {
        gap: 1em;
        align-items: center;
        & h3 {
          white-space: nowrap;
        }
        & .intro-card-icon-box {
          background: var(--clr-brand-light);
          border-radius: .5rem;
          padding: .25rem;
          max-width: 2.5rem;
        }
        @media (min-width: 78.75rem) {
          & h3 {
            white-space: normal;
            font-size: max(1.5rem, 2em);
          }
          & .intro-card-icon-box {
            padding: max(.25rem, .375em);
            height: max(2.5rem, 3em);
            width: max(2.5rem, 3em);
            text-align: center;
            align-items: center;
            max-width: 100%;
            & .icon-lg {
              height: 2.5rem;
              width: 2.5rem;
            }
          }
        }
      }
  
      & .intro-card-text {
        max-width: 24.5em;
        & p {
          @media (min-width: 78.75rem) {
            font-size: 1.125em;
          }
        }
      }
    }
  }

}