.walkthrough {
  position: relative;
  top: -4.5rem;
  padding-bottom: 2em;
  @media (min-width: 48rem) {
    top: -7em;
  }
  @media (min-width: 78.75rem) {
    top: 1.5em;
    font-size: clamp(.74em, .8vw + .05em, 1em);
    margin-bottom: 12em;
  }
  & .container {
    justify-content: center;
  }
  & .walkthrough-cards {
    gap: 1.5rem;
    max-width: 29rem;
    padding-top: .5em;
    flex-direction: column;
    overflow: inherit;
    @media (min-width: 48rem) {
      gap: .5rem;
      flex-direction: row;
      max-width: var(--page-width);
      font-size: clamp(.7em, 1.2vw + 0.25em, 1em);
    }
  }
  & .walkthrough-bg {
    background: var(--clr-section-bg);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: -23.9em;
    bottom: 0;
    @media (min-width: 48rem) {
      top: -7.5rem;
    }
    @media (min-width: 78.75rem) {
      height: 33em;
      top: calc(50% - 14.2em);
    }
  }
  & .walkthrough-mask {
    display: none;
    @media (min-width: 78.75rem){
      display: block;
      position: absolute;
      height: 30em;
      background-color: var(--clr-neutrals-0);
      left: 0;
      right: 0;
      bottom: -26.3em;
      z-index: -2;
    }
  }
}