.landing{
  width:100%;
  padding-top: 6.5em;
  padding-bottom: 2em;
  gap: 3em;
  & .landing-content {
    flex-direction: column;
    gap: calc(3% + 0.2rem);;
    width: 37.5em;
    height: clamp(25.5rem, 28vw + 4rem, 37.5rem);
    & .landing-heading {
      font-size: clamp(0.89em, 0.85vw + 0.02em,1em);
      flex-direction: column;
      & .landing-title {
        margin-top: calc(-4% + 0.1rem);
      }
    }
    & p {
      font-size: clamp(0.89em, 0.85vw + 0.02em,1em);
      max-width: 28.5em;
      margin-bottom: 0.5em;
    }
    & .landing-cta {
      font-size: clamp(0.8em, 0.85vw + 0.02em,1em);
      width: 19.9em;
      height: 5em;
      margin: auto 0;
      border-radius: 1.5em;
    }
  }
  & .landing-illustration {
    position: relative;
    height: clamp(25.5em, 28vw + 4em, 37.5em); /* this line scales the entire container dynamically */
    aspect-ratio: 722 / 600;
    background: var(--clr-section-bg);
    border-radius: clamp(4.42em, 5vw + 1em, 6.5em); /* mantain the border radius while scaling */
    box-shadow: 0px 0.25em 1em rgba(0, 0, 0, 0.12);
    & span {
      overflow: visible !important; /* overwrites next/image component styles for this case */
    }
    & img {
      transform: scale(1.42);
      transform-origin: bottom;
    }
  }
}